/* MAIN SECTION */
main {
  background: #d8e0bb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}
.sub-container {
  background: white;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
  max-height: 22rem;
  max-width: 10rem;
  overflow: auto;
}
.sub-container h3 {
  font-size: clamp(1rem, 2vw, 3rem);
}
.sub-container p {
  font-size: clamp(0.6rem, 1.3vw, 2rem);
}
.sub-container a {
  text-decoration: solid 1px black;
  font-size: clamp(0.6rem, 1.3vw, 2rem);
}
