/* MAIN SECTION */
main {
  background: #d8e0bb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}
.sub-container {
  background: white;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
  min-height: 10vh;
  max-width: 13rem;
  overflow: auto;
}
.sub-container h3 {
  font-size: clamp(1.2rem, 2vw, 3rem);
}
.sub-container p {
  font-size: clamp(1rem, 1.5vw, 2rem);
}
.sub-container a {
  text-decoration: solid 1px black;
  font-size: clamp(1rem, 1.5vw, 2rem);
}
.sources a {
  font-size: 5px;
  text-decoration: underline;
}

@media screen and (max-width: 420px) {
  #main {
    padding: 0;
    min-width: 100%;
  }
  .sub-container {
    min-width: 100%;
  }
} ;
