/* MAIN-CONTAINER */
.generic-container {
  padding: 5rem 0;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #d8e0bb;
}

.generic-container h1 {
  font-size: clamp(1rem, 2.4vw, 2rem);
  margin-bottom: 1rem;
}
.generic-container ul {
  margin-bottom: 1.5rem;
}
.generic-container li {
  list-style-type: disc;
}
.generic-container p {
  font-size: clamp(1rem, 2.9vw, 2rem);
}
.generic-container img {
  width: 100%;
}
.text-container {
  border-radius: 5px;
  background: white;
  width: 80%;
  margin: 1rem;
  padding: 3rem;
}
/* EXAMPLE SECTION */
.example-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.example-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  height: 17rem;
  width: 17rem;
  background: #c5db74;
}
.example-card p {
  font-size: clamp(1rem, 1.2vw, 2rem);
}
.example-card img {
  width: 50%;
}
/* MEDIA QUERIES */
@media screen and (max-width: 423px) {
  header h1 {
    margin-top: 5rem;
  }
  .generic-container {
    width: 100vw;
  }
  .text-container {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  header {
    padding: 4rem 1rem;
  }
  .text-container {
    padding: 3rem 1rem;
  }
}
@media screen and (max-width: 210px) {
  .text-container {
    padding: 1.5rem;
  }
}
