/* GLOBALL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "roboto", sans-serif;
  position: relative;
  margin-top: 100px;
}

h1 {
  color: black;
}

b {
  color: #308029;
  font-size: larger;
}

ul {
  list-style-type: none;
}

/* li {
  list-style-type: none;
  font-size: clamp(0.9rem, 1.4vw, 3.4rem);
} */

a {
  text-decoration: none;
  color: black;
}

/* HEADER */

header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header h1,
h2 {
  text-align: center;
  margin: 2rem;
}
header h1 {
  font-size: clamp(1.7rem, 4vw, 6rem);
  text-transform: uppercase;
}
header h2 {
  font-size: clamp(1rem, 3vw, 3rem);
}
/* header h2 {
  padding: 2rem;
  transition-property: none;
}
*/
header a {
  opacity: 0.5;
}

header a:hover {
  opacity: 1;
}

/*
header img {
  padding-top: 10px;
} */

/* MAIN */

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 3% 0 10%;
  font-size: clamp(1.18rem, 2.5vw, 4rem);
  background-color: #d8e0bb;
}

header h3 {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}

header a {
  cursor: pointer;
}

#main {
  border-radius: 15px;
  min-height: 100vh;
}
.sub-container {
  min-width: 35vw;
  height: clamp(25em, 45vw, 100em);
  text-align: center;
}
.sub-container p {
  font-size: clamp(1.3rem, 2.5vw, 2rem);
}
.sub-container a {
  font-size: clamp(1.4rem, 2vw, 2rem);
}
.box-title {
  font-size: clamp(1.4em, 2.5vw, 4em);
  font-family: "roboto", sans-serif;
  text-align: center;
}
#UN-goal {
  text-decoration: underline black 2px;
}

.main-container p,
h1 {
  padding: 15px;
}

.main-container img {
  /* object-fit: scale-down; */
  width: 100%;
  height: 100%;
}

.main-container > div {
  max-width: 400px;
  max-height: 400px;
  margin: 3%;
  background-color: white;
}

.box-title {
  position: relative;
  top: -13px;
  left: 10px;
  padding: 0 3px;
  color: black;
}

/* Read more button */
.readMore {
  color: white;
  background-color: blue;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 10px 5px 10px;
}
.readMore:hover {
  box-shadow: 0px 0px 2px 2px blue;
}

main a {
  opacity: 0.75;
}
main a:hover {
  opacity: 1;
}

/* GOAL */

.goal-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  padding: 3% 5%;
  background-color: #a9b971;
}

.goal-column {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
}

.goal-column-1 {
  width: 35%;
}
.goal-text {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.25;
}
.goal-text a {
  transition: 0.2s;
  opacity: 1;
  text-decoration: underline;
  color: white;
}
.goal-text a:hover {
  transition: 0.2s;
  opacity: 0.8;
  /* text-shadow: 1px 2px #818d58; */
}

.goal-column-2 {
  display: flex;
  align-items: center;
  width: 20%;
}

.goal-column-3 {
  width: 35%;
}
.goal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 70px;
  height: 100%;
  margin-right: 20px;
  line-height: 1;
}
.goal-word {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.goal-number {
  font-size: 60px;
  font-weight: bold;
}
.goal-desc {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
}

/* FOOTER */

footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-container a {
  background-color: #0000ff;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 255, 0.75);
}

.footer-container-b a {
  background-color: #0000ff;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 255, 0.75);
}

.footer-container {
  flex-wrap: wrap;
  width: 49%;
  height: 49%;
  display: inline-block;
  margin-bottom: 15px;
}

footer a {
  opacity: 0.75;
}

footer a:hover {
  opacity: 1;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 255, 1);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1701px) {
  #bottles {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .goal-column {
    width: 45%;
  }
  .goal-column-2 {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .goal-container {
    flex-direction: column;
    justify-content: space-around;
  }
  .goal-column {
    width: 100%;
  }
  .goal-text {
    line-height: 1;
  }
}
@media screen and (max-width: 300px) {
  .goal-text,
  .goal-desc {
    font-size: 16px;
  }
  .goal-box {
    margin-right: 10px;
  }
  .goal-word {
    font-size: 18px;
  }
  .goal-number {
    font-size: 50px;
  }
}

/* FOOTER */
@media screen and (max-width: 230px) {
  .footer-container {
    margin-left: -12px;
  }
}
.app_text {
  style="list-style-type:disc";

}

/* Colors
#FFFFFF
#C4CCA7
#D7A7A3
#7998A5
#1F3037
*/
