.app_section {
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 2vh;
  background-color: #d8e0bb;
  border-radius: 5px;
  padding: 2rem;
}

.app_section h1 {
  text-align: center;
  font-size: clamp(0.8em, 4vw, 4em);
}

.pictureandinfo {
  display: flex;
  flex-direction: row;
}
.pageinfo {
  margin-top: 1rem;
  padding-left: 10px;
  min-width: 50vw;
  font-size: clamp(0.8em, 2vw, 3em);
  background-color: #d8e0bb;
  margin-right: 10vw;
  margin-left: 2.5vw;
  margin-bottom: 2vw;
  border-radius: 5px;
}

.pagepicture {
  height: auto;
}

.pagepicture img {
  width: clamp(100px, 20vw, 500px);
  height: auto;
}

@media screen and (max-width: 500px) {
  .pictureandinfo {
    flex-wrap: wrap-reverse;
  }
  .pagepicture {
    margin: auto;
  }
  .pagepicture img {
    margin: auto;
  }
}
