nav {
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-size: 18px;
    background-color: #C4CCA7;
    /* background-color: #e3ebe0; */
  }
  
  div.nav-logo {
    padding: 15px;
    vertical-align: middle;
    background: none;
  }
  
  .nav-container {
    display: flex;
    justify-self: left;
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  .nav-container a {
    display: flex;
    transition: 0.2s ease;
    padding: 20px 2vw;
    text-align: center;
    text-decoration: none;
  }
  
  .nav-container a:hover {
    background-color: white;
  }
  
  .language-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    text-align: right;
  }
  
  .language-container a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    padding: 4px;
    padding-right: 20px;
    font-size: small;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .language-container a:hover {
    font-weight: bold;
  }
  
  .language-container img {
    margin-left: 5px;
    filter: grayscale(75%);
    opacity: 0.5;
    border: 1px solid #C4CCA7;
  }
  
  .active a {
    font-weight: bold;
  }
  .active img {
    filter: none;
    opacity: 1;
    border: 1px solid white;
  }

  @media screen and (max-width: 500px) {
    nav {
      flex-direction: column;
      flex-wrap: wrap;
      padding-top: 5px;
      /* background-color: white; */
    }
    div.nav-logo {
      padding: 5px;
    }
    .nav-logo {
      position: absolute;
    }
    .nav-container {
      flex-direction: row;
      position: initial;
      order: 3;
      width: 100%;
      margin: 4px 0;
      /* background-color: #C4CCA7; */
    }
    .nav-container li#challenge {
      flex-basis: 40%;
    }
    .nav-container li#solution {
      flex-basis: 35%;
    }
    .nav-container li#app {
      flex-basis: 25%;
    }
    .nav-container a {
      padding: 10px 0;
      text-align: center;
      justify-content: center;
    }
    .nav-container a:hover {
      background: none;
      font-weight: bold;
    }
    .language-container {
      flex-direction: row;
      align-self: flex-end;
      justify-self: flex-end;
      order: 2;
    }
    .language-container span {
      display: none;
    }
    .active img {
      border: 0;
    }
  }
  @media screen and (max-width: 330px) {
    nav {
      font-size: 17px;
    }
    .nav-logo {
      position: absolute;
      left: 8px;
    }
    .nav-container {
      text-transform: capitalize;
    }
    .nav-container span {
      display: none;
    }
  }
  @media screen and (max-width: 300px) {
    nav {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 250px) {
    nav {
      font-size: 15px;
    }
  }
  