.app_section {
  width: 90vw;
  margin: 0 auto 2vh;
  background-color: #e9ecdf;
  border-radius: 5px;
  padding: 2rem;
}

.app_section h1 {
  text-align: center;
  font-size: clamp(0.8em, 4vw, 4em);
}

.pictureandinfo {
  display: flex;
  flex-direction: row;
}
.pageinfo {
  margin: 1rem 2.5vw 2vh;
  min-width: 50vw;
  font-size: clamp(1em, 2.9vw, 3em);
  border-radius: 5px;
}

.pagepicture {
  height: auto;
}

.pagepicture img {
  width: clamp(100px, 20vw, 500px);
  height: auto;
}

@media screen and (max-width: 500px) {
  .app_section {
    width: 100vw;
  }
  .pictureandinfo {
    flex-wrap: wrap-reverse;
  }
  .pagepicture {
    margin: auto;
  }
  .pagepicture img {
    margin: auto;
  }
}

@media screen and (max-width: 250px) {
  .app_section {
    padding: 0.5rem;
    padding-left: 1rem;
  }
}
