/* GLOBALL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* NAVBAR */
nav {
  background: grey;
  transition: 1s ease;
}

.nav-container {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  padding: 2rem;
  width: 90%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 40rem;
}
.nav-container a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  color: black;
  font-size: clamp(1em, 1.5vw, 4em);
}
.nav-container a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  transition: 0.5s ease;
  background-color: teal;
}
.nav-container ul a:hover::after {
  width: 100%;
  transition: 0.5s ease;
}

#logo {
  flex: 2 1 40rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1343px) {
  #logo {
    text-align: center;
    margin-bottom: 1rem;
  }
}

/* ANIMATIONS */
@keyframes animasjon1 {
  100% {
    background-color: white;
  }
}
